body {
    background-image: url("../assets/firstgraded/wallpaper.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

header {
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    position: top;
}

nav {
    display: flex;
    align-items: center;
    list-style: none;
}

header .heading {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 700;
    font-size: xx-large;
    color: white;
}

.icon {
    width: 40px;
    height: auto;
}

.TextBox {
    width: 100%;
    padding: 4px;
    border: 4px solid #260901;
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    text-align: center;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #00000086;
}

.Box {
    float: right;
    width: 100%;
    border: 4px solid #260901;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #00000086;
    align-content: center;
}

a:visited, a {
    color: mediumturquoise;
}

a:hover {
    color: rgb(6, 35, 255);
}

p {
    text-align: justify;
}

table, th, td {
    border-collapse: collapse;
    font-family: "Pixelify Sans";
    border: 4px solid;
    border-color: #260901;
    color: white;
}